/*Removed normalize.css*/
* {
    padding: 0px;
    margin: 0px;
    line-height: 1.5em;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/webfontkit-20240829-172854/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20240829-172854/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/webfontkit-20240829-172854/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20240829-172854/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsblack';
    src: url('fonts/webfontkit-20240829-172854/poppins-black-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20240829-172854/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-size: 36px;
    font-family: "poppinsregular";
}

